.odd {
  background-color: rgb(255, 194, 204);
  font-family: Verdana, "Dejavu Sans", sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#second {
  color: #0000ff;
  font-size: 36px;
}

#fourth {
  background-color: hsl(120, 73%, 75%);
  font-weight: bold;
}
