.button1 {
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.button2 {
  background-color: hsl(60, 100%, 50%);
}

.button1,
.button2 {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}
